# Binaries for programs and plugins
*.exe
*~
*.dll
*.so
*.dylib
*.log
*.zip
titan_api_mid
main
*.test
*.out
*.tmp

#Bee api
.DS_Store
WebIM/WebIM
shorturl/shorturl
todo/todo
*.env
!.env
.vscode/
.scannerwork/
swagger/**
!swagger/*.json
!swagger/*.yml
report.xml
